.profile {
    background-color: rgb(83, 83, 224);
    border-radius: 20px;
    grid-area: p;
}

.me{
    padding: 20px;
    display: flex;
    align-items: center;
}

.me img{
    width: 25%;
    border-radius: 50%;
}

.me p{
    margin-left: 50px;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

