.profile {
    background-color: rgb(83, 83, 224);
    border-radius: 20px;
    grid-area: p;
}

.me{
    padding: 20px;
    display: flex;
    align-items: center;
}

.me img{
    width: 25%;
    border-radius: 50%;
}

.me p{
    margin-left: 50px;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.posts{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.posts input{
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

.posts button{
    width: 50%;
    padding: 10px;
    margin-bottom: 50px;
}

.post{
    margin-bottom: 20px;
    color: white;
}

.post img{
    width: 10%;
    border-radius: 50%;
}

.post span{
    margin-left: 20px;
}

.post p{
    margin-top: 10px;

}