*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #919fb7;
}

.wrapper{
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-areas: 
  "h h"
  "n p";
  gap: 15px;
  grid-template-columns: 3fr 9fr;
}   

.content{
   background-color: rgb(83, 83, 224);
    border-radius: 20px;
    grid-area: p;
}
